body {
    font-family: Inter, sans-serif;
    background-color: #ebe8d6;
    padding: 0;
    margin: 0;
}
.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    font-size: 16px;
    font-weight: 100;
    position: sticky;  
    color: #111;
    padding: 10px 20px;
}

.navigation-link{
    padding: 0 18px;
}

.nav-link:hover {
    color: #EA1C2C;
}

.navigation-logo {
    justify-content: flex-start;
    z-index: 999;
    padding-left: 20px;
    max-width: 180px;
}


.button {
    background: #457b9d;
    border: 2px solid #457b9d;
    border-radius: 50vw;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    z-index: 2;
}
#nav-button {
    font-size: 14px;
    color: #fff;
}

.button:hover {
    transform: translateY(0);
}

.login {
    color: #111;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
    display: inline;
}

.container {
    background-color: #1d3557;
    color: #fff;
    border-radius: 24px;
    grid-template-columns: 1fr 1fr;
    padding: 112px 100px;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    max-width: calc(100% - 40px);
}

.container-2 {
    padding: 120px 60px;
    position: relative;
}

.container-3 {
    grid-template-columns: 1fr 1fr;
    padding: 60px 60px 120px 60px;
    display: grid;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111;
    text-shadow: 0 0 1px transparent;
    padding-right: 200px;
    padding-bottom: 20px;
}

h2.highlight {
    color: #457b9d;
}

h3 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111;
    text-shadow: 0 0 1px transparent;
    padding-bottom: 20px;
}

h4 {
    font-family: Oswald, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111;
    text-shadow: 0 0 1px transparent;
    text-align: center;
}

.profile-img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.img-right {
    max-width: 600px;
    padding-left: 20px;
}

.img-left {
    max-width: 600px;
}

p {
    font-size: 25px;
    font-family: Oswald, sans-serif;
}

.focus {
    position: relative;
    top: 25%;
}

.operate {
    position: relative;
    top: 25%;
    padding-left: 60px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
}

.card-item {
    background: #fff;
    border-radius: 24px;
    box-shadow: 4px 4px 20px 1px #111;
    max-width: 380px;
    padding: 40px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.arrow {
    transition: transform .7s ease-in-out;
}

.navigation-link:hover .arrow {
    transform: rotate(180deg);
  }
  
  